<div class="academo-use">
    <div class="container">
        <div class="row justify-content-center">
          <h2>How companies use Academo for business</h2>
        </div>
        <div class="row">
            <div class="col-md-4 col-12">
             <div class="academo-box">
                 <img src="../../../../assets/images/homepage/stratgic-business.svg" alt="Strategic business goal"/>
                  <h4>Deliver on strategic business goal by building critical skills</h4>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="academo-box">
                  <img src="../../../../assets/images/homepage/full-value.svg" alt="Full value of technology investments"/>
                  <h4>Realize the full value of technology investments</h4>
                </div>
            </div> 
            <div class="col-md-4 col-12">
                <div class="academo-box">
                   <img src="../../../../assets/images/homepage/data-driven.svg" alt="Data driven workspace"/>
                  <h4>Build a data-driven, digitally-fluent workspace</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="transform-banner">
    <div class="container">
        <h2>Transform your life through education</h2>
        <button class="btn btn-secondary">Apply Now</button>
    </div>
</div>