<div class="goals">
    <div class="container">
        <div class="row justify-content-center">
            <h2 >Achieve your goals with Academo</h2>
        </div>
        <div class="row">
            <div class="col-md-3 col-6">
                <div class="box-wrapper">
                    <div class="goal-circle">
                        <img src="../../../../assets/images/homepage/skills.svg" alt="Learn the latest skills"/>
                    </div>
                    <div class="goals-box">
                        <h4>Learn the latest skills</h4>
                        <h5>like business analytics, graphic
                            design, python, and more...</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="box-wrapper">
                    <div class="goal-circle">
                        <img src="../../../../assets/images/homepage/career.svg" alt="Get ready for a career"/>
                    </div>
                    <div class="goals-box">
                        <h4>Get ready for a career</h4>
                        <h5>in high-demand fields like IT, AI
                            and Cloud engineering</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="box-wrapper">
                    <div class="goal-circle">
                        <img src="../../../../assets/images/homepage/degree.svg" alt="Earn a degree"/>
                    </div>
                    <div class="goals-box">
                        <h4>Earn a degree</h4>
                        <h5>from a leading university in
                            business, computer science
                            and more</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="box-wrapper">
                    <div class="goal-circle">
                        <img src="../../../../assets/images/homepage/orgs.svg" alt="organization"/>
                    </div>
                    <div class="goals-box">
                        <h4>Upskill your organization</h4>
                        <h5>with on-demand training and
                            developement programs</h5>
                    </div>
                </div>
          
            </div>
        </div>
    </div>
</div>
