@import "../../../theme/colors.scss";

.goals {
  padding: 5rem 0 ;
  background-color: $lightBG;
  text-align: center;
  h2{
    margin-bottom:5rem
  }
  .box-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    .goal-circle{
      width: 6rem;
      height:6rem;
      background-color:$primaryColor;
      position:absolute;
      top:-3rem;
      border-radius:50%;
      display: flex;
      justify-content: center;
      img{
        padding:1.25rem
      }
      }
      .goals-box{
        box-shadow: 0 4px 4px 0px rgba(0,0,0,0.25);
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        height: 16rem;
        width: 100%;
        padding: 30% 0.5rem 0;
        h4{
          font-weight: bold;
          color:$primaryColor;
          font-size:1.25rem
        }
        h5{
          font-size:1rem
        }
    }
  }

}
