<div class="trusted-by-companies">
    <div class="container">
        <h2>Trusted by companies worldwide</h2>
        <div class="row row-cols-xs-3 row-cols-sm-5 row-cols-3 justify-content-center companies-list">
            <div class="col company-logo">
                <img src="../../assets/images/logos/brand-24.png" alt="Brand 24"/>
            </div>
            <div class="col company-logo">
                <img src="../../assets/images/logos/hiber.png"  alt="hiber"/>
            </div>
            <div class="col company-logo">
                <img src="../../assets/images/logos/itch.png"  alt="Itch"/>
            </div>
            <div class="col company-logo">
                <img src="../../assets/images/logos/mahabis.png"  alt="Mahabis"/>
            </div>
            <div class="col company-logo">
                <img src="../../assets/images/logos/Forbes_logo.png"  alt="Forbes"/>
            </div>
        </div>
    </div>
</div>