<div class="outcomes-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-12 left-content">
               <h2>Learn outcomes with Academo</h2>
               <h4>91% of people learning with Academo report career benfits like getting a promotion, a pay rise, or starting a new career</h4>
               <button class="btn btn-secondary">Apply Now</button>
            </div>
            <div class="col-md-6 col-12">
                <img src="../../../../assets/images/homepage/outcomes-reveiw.png" alt="Reviews on Academo"/>
            </div>
        </div>
    </div>
</div>
