<div class="transform-life">
    <div class="container">
        <h2>Transform your life through education</h2>
        <div class="row justify-content-center ">

            <div class="col-md-3">
                <div class="box"><h3>Data Science for
                    Data Engineers</h3></div>
            </div>
            <div class="col-md-3">
                <div class="box"><h3>Data Science for
                    Business Analysts</h3></div>
            </div>
            <div class="col-md-3">
                <div class="box"><h3>Managment
                    Essentials</h3></div>
            </div>
            <div class="col-md-3">
                <div class="box"><h3>Python
                    Developement</h3></div>
            </div>
        </div>
    </div>
</div>