<div class="simple-pricing">
    <div class="container">
        <div class="row">
          <h2>Just like our courses, kept our pricing simple</h2>
        </div>
        <div class="row">
            <h1>AED 192,400<span>/ year</span></h1>
        </div>
        <div class="row">
            <div class="col-md-4 col-12">
               <div class="academo-box">
                  <h3>Unlimited courses </h3>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="academo-box">
                    <h3>24 hours access </h3>
                </div>
            </div> 
            <div class="col-md-4 col-12">
                <div class="academo-box">
                    <h3>Worldwide recognition </h3>
                </div>
            </div>
        </div>
        <div class="row">
            <button class="btn btn-secondary">Apply Now</button>
        </div>
    </div>
</div>
