<div class="simple-pricing">
    <div class="container">
        <div class="row justify-content-center">
          <h2 >Just like our courses, kept our pricing simple</h2>
        </div>
        <div class="row justify-content-center">
            <h1>AED 192,400<span>/ year</span></h1>
        </div>
        <div class="row">
            <div class="col-md-4 col-12">
               <div class="academo-box">
                  <img src="../../../../assets/images/homepage/unlimitied.svg" alt="Infinty Sign"/>
                  <h3>Unlimited courses </h3>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="academo-box">
                    <img src="../../../../assets/images/homepage/24-hours.svg" alt="24 Hours"/>
                    <h3>24 hours access </h3>
                </div>
            </div> 
            <div class="col-md-4 col-12">
                <div class="academo-box">
                    <img src="../../../../assets/images/homepage/worldwide.svg" alt="Globe"/>
                    <h3>Worldwide recognition </h3>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <button class="btn btn-primary">Apply Now</button>
        </div>
    </div>
</div>
