
<div class="leading-companies" #logoWrapper>
    <div class="" >
        <div class=" img-container"><img src ="../../../../assets/images/logos/imperial-college-london-logo.svg"/></div>
        <div class=" img-container" ><img src ="../../../../assets/images/logos/University_of_Illinois_at_Urbana–Champaign_logo.svg"/></div>
        <div class=" img-container"><img src ="../../../../assets/images/logos/IBM-logo.svg"/></div>
        <div class=" img-container"><img src ="../../../../assets/images/logos/Google-Logo.wine.svg"/></div>
        <div class=" img-container"><img src ="../../../../assets/images/logos/duke-university-logo.svg"/></div>
        <div class=" img-container"><img src ="../../../../assets/images/logos/stanford-university-logo.svg"/></div>
        <div class=" img-container"><img src ="../../../../assets/images/logos/imperial-college-london-logo.svg"/></div>
        <div class=" img-container" ><img src ="../../../../assets/images/logos/University_of_Illinois_at_Urbana–Champaign_logo.svg"/></div>
        <div class=" img-container"><img src ="../../../../assets/images/logos/IBM-logo.svg"/></div>
        <div class=" img-container"><img src ="../../../../assets/images/logos/Google-Logo.wine.svg"/></div>
        <div class=" img-container"><img src ="../../../../assets/images/logos/duke-university-logo.svg"/></div>
        <div class=" img-container"><img src ="../../../../assets/images/logos/stanford-university-logo.svg"/></div>
    </div>
</div>