<div id="carouselExampleIndicators" class="carousel slide testimonial-slider" data-ride="carousel">

    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                   <h2>Let Academo provide a learning experience that will change the lifes of your employees forever!</h2>
                   <h4 class="quote">“We love that Academo will allow us to provide a breadth of hight quality programs and a learning of high quality programs and a learning experience that our employees and interns can drive their own personal development.”</h4>
                   <div class="author">
                       <h3>Jonny White</h3>
                       <h4>Quanta Law</h4>
                   </div>
                </div>
                <div class="col-md-6">
                    <img src="../../../../assets/images/homepage/johnny-white.svg"/>
                </div>
            </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                   <h2>Let Academo provide a learning experience that will change the lifes of your employees forever!</h2>
                   <h4 class="quote">“We love that Academo will allow us to provide a breadth of hight quality programs and a learning of high quality programs and a learning experience that our employees and interns can drive their own personal development.”</h4>
                   <div class="author">
                       <h3>Jonny White</h3>
                       <h4>Quanta Law</h4>
                   </div>
                </div>
                <div class="col-md-6">
                    <img src="../../../../assets/images/homepage/johnny-white.svg"/>
                </div>
            </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                   <h2>Let Academo provide a learning experience that will change the lifes of your employees forever!</h2>
                   <h4 class="quote">“We love that Academo will allow us to provide a breadth of hight quality programs and a learning of high quality programs and a learning experience that our employees and interns can drive their own personal development.”</h4>
                   <div class="author">
                       <h3>Jonny White</h3>
                       <h4>Quanta Law</h4>
                   </div>
                   
                </div>
                <div class="col-md-6">
                    <img src="../../../../assets/images/homepage/johnny-white.svg"/>
                </div>
            </div>
        </div>
      </div>
      <div class="container">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" ></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2" class="active"></li>
        </ol>
      </div>
    </div>
  </div>