<div class="header">
   <div class="container">
       <div class="row">
           <div class="col-md-6">
              <h1>We are the
                <span>future of learing</span></h1>
                <p>Educate your workforce with courses and degrees online from world-class universities and companies.</p>
                <button class="btn btn-secondary">Apply Now</button>
           </div>
           <div class="col-md-6">
              <img class="academo-image" src="../../../../assets/images/acedemo-header-image.png" alt="Academo Logo" />
           </div>
       </div>
   </div>
</div>