<div class="header">
   <div class="container">
       <div class="row">
         <div class="col-md-5 col-12">
            <div class="left-content">
               <h1 class="header-title">We are the<br>
                  <span>future of learning</span></h1>
                  <p>Educate your workforce with courses and degrees online from world-class universities and companies.</p>
                  <button class="btn btn-secondary">Apply Now</button>
            </div>
         </div>
         <div class="col-md-6 offset-md-1 col-12">
            <img class="academo-image" src="../../../../assets/images/homepage/academo-header.svg" alt="Academo Logo" />
         </div>
       </div>
   </div>
</div>